<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @entry.person %>
</p>

<p>
  <strong>Character:</strong>
  <%= @entry.character %>
</p>

<p>
  <strong>Display Rank:</strong>
  <%= @entry.display_rank %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
